.element, .awr-icon.date-element, .awr-icon.edit-element, .awr-icon.back-link, .awr-icon.add-element {
  padding: 5px;
  height: 30px;
  vertical-align: middle; }

.bold-element, .awr-clickable-text, .awr-icon.books-element {
  height: 30px;
  font-weight: 600; }

.link-element, .awr-icon.back-link, .awr-icon.add-element {
  color: #337ab7;
  text-decoration: underline;
  cursor: pointer; }

.link-element:hover, .awr-icon.back-link:hover, .awr-icon.add-element:hover {
  color: #77acd9; }

.link-element.no-underline, .awr-icon.back-link, .awr-icon.add-element {
  text-decoration: none; }

.no-underline, .awr-icon.back-link, .awr-icon.add-element {
  text-decoration: none; }

.keep-left {
  float: left !important; }

.keep-right {
  float: right !important; }

.text-muted {
  color: #aaaaaa; }

.awr-text-left {
  text-align: left !important; }

.awr-text-right {
  text-align: right !important; }

.awr-clickable, .awr-clickable-text {
  cursor: pointer; }

.awr-clickable-text:hover {
  text-decoration: underline; }

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid; }

.arrow-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid; }

.arrow-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid; }

.modal {
  z-index: 1150 !important; }

.modal-backdrop {
  z-index: 1140 !important; }

.no-padding {
  padding: 0; }

@media (min-width: 480px) {
  .awr-visible-xs {
    display: none; } }

@media (max-width: 768px) {
  .awr-visible-sm {
    display: none; } }

@media (min-width: 988px) {
  .awr-visible-sm {
    display: none; } }

.element, .awr-icon.date-element, .awr-icon.edit-element, .awr-icon.back-link, .awr-icon.add-element {
  padding: 5px;
  height: 30px;
  vertical-align: middle; }

.bold-element, .awr-clickable-text, .awr-icon.books-element {
  height: 30px;
  font-weight: 600; }

.link-element, .awr-icon.back-link, .awr-icon.add-element {
  color: #337ab7;
  text-decoration: underline;
  cursor: pointer; }

.link-element:hover, .awr-icon.back-link:hover, .awr-icon.add-element:hover {
  color: #77acd9; }

.link-element.no-underline, .awr-icon.back-link, .awr-icon.add-element {
  text-decoration: none; }

.no-underline, .awr-icon.back-link, .awr-icon.add-element {
  text-decoration: none; }

.keep-left {
  float: left !important; }

.keep-right {
  float: right !important; }

.text-muted {
  color: #aaaaaa; }

.awr-text-left {
  text-align: left !important; }

.awr-text-right {
  text-align: right !important; }

.awr-clickable, .awr-clickable-text {
  cursor: pointer; }

.awr-clickable-text:hover {
  text-decoration: underline; }

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid; }

.arrow-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid; }

.arrow-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid; }

.modal {
  z-index: 1150 !important; }

.modal-backdrop {
  z-index: 1140 !important; }

.no-padding {
  padding: 0; }

@media (min-width: 480px) {
  .awr-visible-xs {
    display: none; } }

@media (max-width: 768px) {
  .awr-visible-sm {
    display: none; } }

@media (min-width: 988px) {
  .awr-visible-sm {
    display: none; } }

.icon-before-after, .awr-icon.back-link:before, .awr-icon.add-element:before {
  text-decoration: none !important;
  display: inline-block;
  margin-right: 3px;
  font-size: 16px;
  vert-align: middle;
  padding: 0 3px 2px 3px;
  height: 20px;
  width: 19px; }

.awr-icon.date-element:before {
  content: "\1F4C6";
  margin-right: 5px;
  margin-left: 5px;
  font-size: 1.3em;
  color: #4d0000; }

.awr-icon.books-element:before {
  content: "\1F4DA";
  margin-right: 5px;
  font-size: 1.3em;
  color: #330000; }

.awr-icon.edit-element {
  font-weight: 600; }
  .awr-icon.edit-element:after {
    content: "\1F4DD";
    width: 35px;
    margin-left: 10px;
    font-size: 1.5em;
    cursor: pointer;
    padding: 5px;
    text-align: center; }
  .awr-icon.edit-element:hover:after {
    background: white;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    width: 30px; }

.awr-icon.edit-element.icon-left {
  padding-left: 10px; }
  .awr-icon.edit-element.icon-left:after {
    display: none; }
  .awr-icon.edit-element.icon-left:before {
    padding: 5px;
    content: "\1F4DD";
    width: 35px;
    margin-right: 20px;
    font-size: 1.5em;
    cursor: pointer;
    text-align: center;
    border: 1px solid white; }
  .awr-icon.edit-element.icon-left:hover:after {
    display: none; }
  .awr-icon.edit-element.icon-left:hover:before {
    background: white;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    max-width: 20px !important; }

/* text-underline for &:before Is it possible to remove this?*/
/* Yes, if you change the display style to inline-block from default->inline*/
.awr-icon.back-link:hover {
  text-decoration: underline; }
  .awr-icon.back-link:hover:before {
    background: #77acd9;
    text-decoration: none !important; }

.awr-icon.back-link:before {
  color: white;
  background: #337ab7;
  font-size: 16px;
  font-weight: 900;
  border-radius: 50%;
  /*other options: \2190 \21E6*/
  content: "\21B5"; }

.awr-icon.add-element:hover {
  text-decoration: underline; }
  .awr-icon.add-element:hover:before {
    background: #77acd9;
    text-decoration: none !important; }

.awr-icon.add-element {
  vertical-align: middle; }
  .awr-icon.add-element:before {
    color: white;
    padding: 0 2px 4px 2px !important;
    font-size: 16px;
    font-weight: 900;
    border-radius: 26%;
    margin-right: 5px;
    background: #337ab7;
    content: "\2795"; }

.awr-tag .result-container {
  position: relative;
  margin-top: -2px; }
  .awr-tag .result-container .results.out {
    display: none; }
  .awr-tag .result-container .results.in {
    display: inline-block;
    z-index: 1000; }
  .awr-tag .result-container .results {
    padding: 5px 0 5px 0;
    position: absolute;
    display: none;
    background: #fafafa;
    box-shadow: 2px 2px 2px #888888;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 99%; }
    .awr-tag .result-container .results .item {
      padding: 3px 5px 2px 5px;
      width: 100%;
      display: inline-block;
      font-weight: 500;
      font-size: 14px;
      cursor: pointer; }
      .awr-tag .result-container .results .item strong {
        margin: 0 5%;
        width: 50%; }
    .awr-tag .result-container .results .item:hover, .awr-tag .result-container .results .item.hover {
      color: #b5b5b5; }

.awr-tag .tag-container {
  display: block !important;
  padding: 3px;
  overflow-y: visible;
  width: 100%;
  border-radius: 2px;
  border: solid 1px #ccc; }
  .awr-tag .tag-container input[type="text"] {
    display: inline-block;
    height: 30px;
    border: none;
    font-size: 14px;
    padding: 0;
    margin-left: 3px; }
  .awr-tag .tag-container input[type="text"]:focus {
    border: none !important;
    outline: none; }
  .awr-tag .tag-container .tag {
    margin: 2px;
    padding: 3px 5px 0 5px;
    background: #f0f0f0;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #b5b5b5;
    white-space: nowrap;
    display: inline-block;
    height: 30px; }
    .awr-tag .tag-container .tag .text {
      padding: 0; }
    .awr-tag .tag-container .tag span.fa-remove {
      border-left: 1px solid #828282;
      margin-left: 4px;
      padding-left: 4px;
      cursor: pointer; }
    .awr-tag .tag-container .tag span.fa-remove:hover {
      color: #999999; }

#awrNotifBar.notif {
  display: none;
  width: 100%;
  background-color: #404040;
  color: #ffffff;
  padding: 10px 0px 2px 0px;
  text-align: center;
  min-height: 10px; }
  #awrNotifBar.notif .content {
    padding: 0;
    margin: 0 auto;
    text-align: left; }
    @media (min-width: 988px) {
      #awrNotifBar.notif .content {
        width: 60%; } }
    @media (max-width: 988px) {
      #awrNotifBar.notif .content {
        width: 90%; } }

#basicModal {
  min-width: 320px; }
  #basicModal .modal-header {
    overflow-x: hidden; }
    @media (max-width: 480px) {
      #basicModal .modal-header .modal-title {
        padding: 0;
        display: initial;
        text-align: center; } }
    #basicModal .modal-header .close {
      position: absolute;
      right: 15px;
      top: 15px; }
  #basicModal .modal-body {
    padding: 15px 30px 15px 30px; }

.awr-basic-table {
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif; }
  @media (max-width: 1200px) {
    .awr-basic-table {
      padding: 5px;
      margin-left: 0;
      margin-right: 0;
      width: 100%; } }
  @media (max-width: 650px) {
    .awr-basic-table .screen-extra {
      display: none; }
    .awr-basic-table tbody tr {
      height: 80px; } }
  @media (max-width: 550px) {
    .awr-basic-table .medium-extra {
      display: none; } }
  @media (max-width: 550px) {
    .awr-basic-table {
      padding: 0; }
      .awr-basic-table .medium-extra {
        display: none; }
      .awr-basic-table thead th {
        display: none; }
      .awr-basic-table thead th:first-of-type {
        display: block; }
      .awr-basic-table tbody tr {
        position: relative; }
        .awr-basic-table tbody tr th {
          width: 100%;
          height: 100px; }
          .awr-basic-table tbody tr th span.edit-element.name {
            text-overflow: ellipsis;
            overflow-x: hidden !important;
            overflow-y: visible !important;
            height: 35px !important; }
          .awr-basic-table tbody tr th .mobile-tools {
            padding: 6px 10px 3px 10px;
            display: inline-block;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 36px;
            background: #f2f2f2; }
            .awr-basic-table tbody tr th .mobile-tools .coll-remove {
              float: right;
              margin-top: 5px; }
            .awr-basic-table tbody tr th .mobile-tools .toggle {
              float: right;
              margin-left: 10px;
              margin-right: 15px; }
            .awr-basic-table tbody tr th .mobile-tools .toggle-group {
              height: 25px; }
              .awr-basic-table tbody tr th .mobile-tools .toggle-group label {
                padding: 2px; }
            .awr-basic-table tbody tr th .mobile-tools .toggle.btn {
              min-height: 25px; }
        .awr-basic-table tbody tr th .mobile-tools .item-count {
          float: right;
          margin-left: 10px; }
          .awr-basic-table tbody tr th .mobile-tools .item-count .fa-spinner {
            display: none; }
        .awr-basic-table tbody tr th .mobile-tools .item-count.loading .fa-spinner {
          display: inline-flex; }
        .awr-basic-table tbody tr td {
          display: none; } }
  .awr-basic-table .awr-head-row {
    margin-top: 20px; }
    .awr-basic-table .awr-head-row h3 {
      font-weight: 500;
      width: 80%;
      display: inline-block;
      font-size: 2.2em; }
    .awr-basic-table .awr-head-row .add-element {
      font-size: 1.1em; }
  .awr-basic-table table {
    margin-top: 15px; }
    .awr-basic-table table th, .awr-basic-table table td {
      padding-left: 15px !important;
      position: relative; }
    .awr-basic-table table thead {
      background: #4d4d4d; }
      .awr-basic-table table thead th:first-of-type {
        padding-left: 27px !important; }
      .awr-basic-table table thead th {
        text-align: center;
        color: white; }
    .awr-basic-table table tbody .mobile-tools {
      display: none; }
    .awr-basic-table table tbody .data {
      padding-top: 16px;
      font-size: 1.2em;
      font-family: 'Open Sans', sans-serif; }
    .awr-basic-table table tbody th .name {
      display: inline-block; }
    .awr-basic-table table tbody th input[type="text"] {
      display: none; }
    .awr-basic-table table tbody th .btn-group {
      display: none; }
    @media (min-width: 550px) and (max-width: 1200px) {
      .awr-basic-table table tbody .edit-mode th {
        display: inline-flex; }
        .awr-basic-table table tbody .edit-mode th .btn-group {
          width: 100%; }
          .awr-basic-table table tbody .edit-mode th .btn-group button {
            width: 50%;
            border-top-right-radius: 0;
            border-top-left-radius: 0; } }
    .awr-basic-table table tbody .edit-mode th {
      width: 100%;
      display: inline-block; }
      .awr-basic-table table tbody .edit-mode th .name {
        display: none; }
      .awr-basic-table table tbody .edit-mode th input[type="text"] {
        width: 70%;
        height: 33px;
        /* border: none; */
        outline: none;
        padding: 2px 5px 2px 5px;
        display: inline-block; }
        @media (min-width: 550px) and (max-width: 1200px) {
          .awr-basic-table table tbody .edit-mode th input[type="text"] {
            width: 100%;
            border: 1px solid #ddd;
            border-bottom: none;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px; } }
        @media (max-width: 550px) {
          .awr-basic-table table tbody .edit-mode th input[type="text"] {
            width: 73%; } }
        @media (max-width: 450px) {
          .awr-basic-table table tbody .edit-mode th input[type="text"] {
            width: 70%; } }
        @media (max-width: 400px) {
          .awr-basic-table table tbody .edit-mode th input[type="text"] {
            width: 62%; } }
      .awr-basic-table table tbody .edit-mode th .btn-group {
        display: block;
        float: right;
        height: 30px; }
    .awr-basic-table table tbody td .fa-spin {
      display: none; }
    .awr-basic-table table tbody td.loading .fa-spin {
      position: absolute;
      right: 15px;
      top: 23px;
      display: inline-block !important; }

/*# sourceMappingURL=ux.css.map */
