.single-page 
  position: relative
  width: 992px
  margin: 2em auto 0 auto

  @media (max-width: 992px) 
    width: 100%

  img
    box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 10px 0px
  .empty-page:before 
    box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 10px 0px
    content: ""
    display: block
    padding-top: 141%;  /* initial ratio of 1:1*/

.page-share 
  -webkit-border-radius: 25px
  -moz-border-radius: 25px
  border-radius: 25px
  position: absolute
  top: 15px
  right: 15px
  min-width: 18px
  min-height: 18px
  padding: 15px
  background: #FFF
  text-align: left
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 10px 0px

  .share-part 
    display: none

    a.download-pdf, a.download-epub, a.download-music 
      font-size: 1.2em
      margin-right: 15px
    a.download-music 
      float: right
      line-height: 35px
    a.social i 
      font-size: 2em
    h5.url 
      display: block
    h5 
      margin: 10px 0 1px 0
    p.direct-url 
      padding: 6px
      background-color: #f0f0f0
      font-size: 1.2em
    i.icon-book 
      font-size: 1.3em

  .pagenumber 
    position: absolute
    right: 16px
    top: 16px
    cursor: pointer
    font-size: 1.3em
    width: 18px
    height: 18px
    text-align: center
    color: $pageshare-blue
    line-height: 14px
  
  &.open
    .share-part 
      display: block

    .pagenumber 
      visibility: hidden
      &:after 
        visibility: visible
        position: absolute
        top: 0
        left: 0
        display: block
        content: "X"

@media (max-width: 550px) 
  div.page-share 
    -webkit-border-radius: 15px
    -moz-border-radius: 15px
    border-radius: 15px
    top: 12px
    right: 12px
    padding: 5px
  
    span.pagenumber 
      top: 6px
      right: 6px


#loadmore 
  margin: 20px
  text-align: center
  padding: 15px
  color: #005580
  cursor: pointer
