body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
@media (max-width: 550px) {
  body {
    font-size: 10px;
  }
}

.ps-container > .ps-scrollbar-x-rail,
.ps-container > .ps-scrollbar-y-rail {
  display: block;
  opacity: 0.5;
}

a {
  color: #215295;
}

a:hover i {
  text-decoration: none;
}


/* Reset bootstrap transitions */
.thumbnail {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}


.navbar-fake {
  height: 60px;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.navbar-fixed {
  position: fixed;
}
/* Top header */
#top-header {
  background-color: #fff;
  background-image: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 7px 0px;
  border: none;
  min-height: 0px !important;
}

#top-header .nav {
  float: none;
  text-align: center;
  line-height: 49px;
}
#top-header .nav a {
  color: #000;
  font-size: 1.15em;
  padding: 14px 7px 12px 7px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

#top-header .nav a:hover {
  text-decoration: underline;
}

#top-header .container-fluid {
  position: relative;
  padding: 5px 5px 5px 215px;
}
#top-header .brand {
  background: url('../img/sprite-icons.png') 20px 5px no-repeat;
  height: 49px;
  white-space: nowrap;
  padding: 0;
  display: block;
  line-height: 49px;
  padding: 5px 0 0 82px;
  font-size: 25px;
  color: black;
  margin: 0 5px 0 0;
  text-shadow: none;
  float: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1050;
}
/*
@media (max-width: 990px) {
  #top-header .container-fluid {
    padding: 5px 160px;
  }
  #top-header .brand {
    left: 5px;
    font-size: 18px;
    font-weight: bold;
    padding: 0 0 0 60px;
  }
  #scroll-to-top {
    right: 5px;
  }
  #top-header .nav a {
    font-size: 1em;
  }
}
*/
@media (max-width: 720px) {
  #top-header .nav a {
    font-size: 0.9em;
    padding-left: 3px;
    padding-right: 3px;
  }
}
@media (max-width: 580px) {
  #top-header .brand, #scroll-to-top {
    transform: scale(0.55);
    -moz-transform: scale(0.55);
    -webkit-transform: scale(0.55);
    -ms-transform: scale(0.55);
  }
  #top-header .brand {
    transform-origin: left top;
    -moz-transform-origin: left top;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
  }
  #scroll-to-top {
    transform-origin: right top;
    -moz-transform-origin: right top;
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
  }
  #top-header .container-fluid {
    padding: 5px 0 5px 113px;
  }
  #top-header .nav {
    line-height: 25px;
  }
  #top-header .nav a {
    font-size: 0.85em;
    padding: 4px 0px 2px 4px;
  }
  .navbar-fake {
    height: 35px;
  }
}
@media (max-width: 420px) {
  #top-header .nav a {
    font-size: 0.6em;
  }
}

#scroll-to-top {
  position: absolute;
  top: 7px;
  right: 20px;
  z-index: 1050;
}


.single-cover {
}

/* Shelfs and shelfs-and-covers  */
#shelfs {
  padding: 40px 0 0 20px;
  max-width: 350px;
}
#covers  {
  padding: 40px 0;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .shelfs-and-covers {
    overflow: auto;
    position: relative;
    white-space: nowrap;
  }
  #shelfs, #covers  {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  #shelfs {
    width: 240px;
    white-space: normal;
    padding: 20px 0 20px 20px;
  }
  #shelfs ul {
    position: relative;
    height: 210px;
    overflow: auto;
    padding-right: 15px !important;
  }
  #covers  {
    width: auto;
    padding: 20px 0;
  }
  .single-cover {
    display: inline-block;
    float: none;
  }
}
@media (max-width: 640px) {
  #shelfs {
    padding-left: 10px;
  }
  #shelfs ul {
    height: 150px;
  }

  #covers  {
    margin: 20px 0;
  }
}

#shelfs h2 {
  font-size: 1.4em;
  padding-left: 10px;
  margin-bottom: 0;
  margin-top: 0;
}

#shelfs ul, #shelfs ul li {
  list-style-type: none;
  margin: 0 0 5px 0;
  padding: 0;
}

#shelfs ul li a {
  display:block;
  padding: 7px 12px;
  font-size: 1.2em;
}
@media (max-width: 640px) {
  #shelfs ul li a {
    padding: 2px 6px;
    font-size: 1em;
  }
}

#shelfs ul li.active a {
  background-color: #ffffff;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px 0px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}


.shelfs-and-covers {
  background-color: #f0f0f0;
}
.book-content-separator {
  height: 30px;
  margin: 0;
  background: rgb(76,76,76);
  /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(17,17,17,1) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(100%,rgba(17,17,17,1)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(17,17,17,1) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(17,17,17,1) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(17,17,17,1) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(17,17,17,1) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#111111',GradientType=0 );
  /* IE6-9 */
}



button.btn, button.btn:hover, button.btn:focus, button.btn:active {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 9px;
  color: #ffffff;
  border: none;
  background-color: #000;
  background-image: none;
  text-shadow: none;
  /* font-family: "freight-sans-pro"; */
  font-size: 1.2em;
}


/* Display as "Covers" */

div.single-cover {
  text-align: center;
  margin: 0 0 10px 20px;
  float: left;
  cursor: pointer;
}
div.single-cover .caption {
  width: 147px;
  position: absolute;
  bottom: 0px;
}

div.single-cover h3.title {
  margin: 0 0 4px 0;
  line-height: normal;
  font-size: 1.2em;
  max-height: 58px;
  overflow: hidden;
}

div.single-cover span {
  display: block;
  font-size: 1.1em;
}

.thumbnail {
  padding: 2px;
  border: 2px solid #fff;
  width: 161px;
  height: 228px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px 0px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: relative;
}

@media (max-width: 1024px) {
  .thumbnail {
    width: 144px;
    height: 205px;
  }
}
@media (max-width: 640px) {
  .thumbnail {
    width: 81px;
    height: 114px;
  }
} 

.thumbnail.hilight,
.thumbnail.selected{
  border: 2px solid #AAA;
  -moz-box-shadow: 0 0 10px #88A;
  -webkit-box-shadow: 0 0 10px #88A;
  box-shadow: 0px 0px 10px #88A;
}
.thumbnail.hilight img,
.thumbnail.selected img{
  opacity: 0.7;
}

.music-icon, .epub-icon {
  background: url('../img/sprite-icons.png') 0 -52px;
  width: 90px;
  height: 90px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 15px 0 0 36px;
}

.epub-icon {
  background-position: -4px -395px;
}

p.single-epub {
  font-size: 1.2em;
  text-align: left;
  margin: 10px 20px;
}



/* Scroll to top */
.sticky-wrapper {
  float:right;
  z-index: 1050;
  position: relative;
}

/* Rendered pages */
#rendered-pages {
  position: relative;
}

div.rendered-page {
  position: relative;
  width: 992px;
  margin: 0 auto;
}
@media (max-width: 992px) {
  div.rendered-page {
    width: 100%;
  }
}

div.page-share {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  position: absolute;
  top: 15px;
  right: 15px;
  min-width: 18px;
  min-height: 18px;
  padding: 15px;
  background:#FFF;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 10px 0px;
}
span.pagenumber {
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
  font-size: 1.3em;
  width: 18px;
  height: 18px;
  text-align: center;
  color: #215295;
  line-height: 14px;
}
.share-part {
  display: none;
}

@media (max-width: 550px) {
  div.page-share {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    top: 12px;
    right: 12px;
  }
  span.pagenumber {
    padding: 7px;
    font-size: 1.3em;
    width: 18px;
    height: 18px;
    line-height: 14px;
  }
}
@media (max-width: 350px) {
  div.page-share {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    top: 12px;
    right: 12px;
  }
  span.pagenumber {
    padding: 2px;
    font-size: 1.3em;
    width: 18px;
    height: 18px;
    line-height: 14px;
  }
}


.single-page {
  margin-top: 2em;
}

.rendered-page-single {
  box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 10px 0px;
}
.rendered-page-single.empty-page:before {
  content: "";
  display: block;
  padding-top: 141%;  /* initial ratio of 1:1*/
}

.share-part a.download-pdf, .share-part a.download-epub, .share-part a.download-music {
  font-size: 1.2em;
  margin-right: 15px;
}
.share-part a.download-music {
  float: right;
  line-height: 35px;
}

.share-part a.social i {
  font-size: 2em;
}

.share-part h5.url {
  display: block;
}

.share-part h5 {
  margin:10px 0 1px 0;
}

p.direct-url {
  padding: 6px;
  background-color: #f0f0f0;
  font-size: 1.2em;
}

i.icon-book {
  font-size:1.3em;
}

#loadmore {
  margin: 20px;
  text-align: center;
  padding: 15px;
  color: #005580;
  cursor: pointer;
}

p.single-lyrics {
  margin: 20px;
  text-align: left;
  font-size: 1.3em;
  line-height: 1.6em;
}


/* Page number and share-popup */


/* Static page */
.static-page h1 {
  margin-bottom: 30px;
}

.static-page {
  font-size: 1.3em;
  line-height: 1.45em;
}

.static-page .span7 {
  padding-top: 40px;
}


/* Footer */
.footer {
  border-top: 2px solid #bdbdbd;
  padding: 15px;
  margin: 60px 17px 50px 17px;
}

.footer li {
  float: left;
  line-height: 40px;
}

.footer li a {
  font-size: 1.1em;
  padding: 0 8px;
  color: #4e4e4e;
}
@media (max-width: 768px) {
  .footer li a {
    font-size: 0.85em;
  }
}

.footer li a:hover {
  background: none;
  text-decoration: underline;
}

#footer-to-top {
  background: url('../img/sprite-icons.png') 0 -165px no-repeat;
  height: 40px;
  line-height: 40px;
  padding: 0 0 0 48px;
  color: #000;
  display: block;
  float: left;
}


/* admin */
.admin#the-container {
  padding: 20px 0 40px 30px;
  font-size: 1.3em;
  line-height: 1.8em;
}

.label {
  font-size: 18px;
  background-color: transparent;
  color: #000000;
  display: block;
  float: left;
  width: 250px;
  font-weight: normal;
  text-shadow: none;
  padding: 0;
}

.audiojs audio {
  position: absolute;
  left: -1px;
} 
.audiojs {
  width: 410px;
  height: 36px;
  overflow: hidden;
  font-family: monospace;
  font-size: 12px;
} 
.audiojs .play-pause {
  width: 20px;
  height: 40px;
  padding: 4px 0px;
  margin: 0px;
  float: left;
  overflow: hidden;
} 
.audiojs p {
  display: none;
  width: 16px;
  height: 40px;
  margin: 0px;
  cursor: pointer;
} 
.audiojs .play {
  display: block;
} 
.audiojs .scrubber {
  position: relative;
  float: left;
  width: 280px;
  background: #d0d0d0;
  height: 14px;
  margin: 10px 0;
  border-left: 0px;
  border-bottom: 0px;
  overflow: hidden;
} 
.audiojs .progress {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 14px;
  width: 0px;
  background: #215295;
  z-index: 1;
  border-radius: 0;
} 
.audiojs .loaded {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 14px;
  width: 0px;
  background: #f0f0f0;
} 
.audiojs .time {
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0px 0px 0px 6px;
  padding: 0px 3px 0px 6px;
} 
.audiojs .time em {
  padding: 0px 2px 0px 0px;
  font-style: normal;
} 
.audiojs .time strong {
  padding: 0px 0px 0px 2px;
  font-weight: normal;
} 
.audiojs .error-message {
  float: left;
  display: none;
  margin: 0px 10px;
  height: 36px;
  width: 400px;
  overflow: hidden;
  line-height: 36px;
  white-space: nowrap;

  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
} 
.audiojs .error-message a {
  color: #eee;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #999;
  white-space: wrap;
} 

.audiojs .play {
  background: url("../audiojs/player-graphics.gif") -8px -1px no-repeat;
} 
.audiojs .loading {
  background: url("../audiojs/player-graphics.gif") -8px -31px no-repeat;
} 
.audiojs .error {
  background: url("../audiojs/player-graphics.gif") -8px -61px no-repeat;
} 
.audiojs .pause {
  background: url("../audiojs/player-graphics.gif") -8px -91px no-repeat;
} 

.playing .play, .playing .loading, .playing .error {
  display: none;
} 
.playing .pause {
  display: block;
} 

.loading .play, .loading .pause, .loading .error {
  display: none;
} 
.loading .loading {
  display: block;
} 

.error .time, .error .play, .error .pause, .error .scrubber, .error .loading {
  display: none;
} 
.error .error {
  display: block;
} 
.error .play-pause p {
  cursor: auto;
} 
.error .error-message {
  display: block;
}
@media (max-width: 500px) {
  .audiojs {
    width: 230px;
  }
  .audiojs .scrubber {
    width: 115px;
  }
  .audiojs .time {
    font-size: 80%;
  }

}

/* Other */
#the-container {
  padding: 0;
}

