body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

@media (max-width: 550px) {
  body {
    font-size: 10px;
  }
}

.hidden, #svgwrap {
  display: none;
}

.ps-container > .ps-scrollbar-x-rail,
.ps-container > .ps-scrollbar-y-rail {
  display: block;
  opacity: 0.5;
}

a {
  color: #215295;
}

a:hover i {
  text-decoration: none;
}

/* Reset bootstrap transitions */
.thumbnail {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

#contents {
  position: relative;
}

#message_holder {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 100%;
  z-index: 100;
}

#message {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  background: white;
  margin: 0 auto;
  width: 300px;
  padding: 20px;
}

#message .close {
  font-size: 16px;
  color: black;
  position: absolute;
  top: 4px;
  right: 9px;
  display: block;
  opacity: 1;
}

/* Covers  */
#covers {
  width: auto;
  padding: 40px 0;
  position: relative;
  overflow: auto;
  white-space: nowrap;
}

.cover {
  display: inline-block;
  float: none;
}

@media (max-width: 640px) {
  #covers {
    margin: 20px 0;
  }
}

.shelfs-and-covers {
  background-color: #f0f0f0;
}

.book-content-separator {
  height: 30px;
  margin: 0;
  background: #4c4c4c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #4c4c4c 0%, #111111 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c4c4c), color-stop(100%, #111111));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4c4c4c 0%, #111111 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4c4c4c 0%, #111111 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #4c4c4c 0%, #111111 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #4c4c4c 0%, #111111 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#111111',GradientType=0 );
  /* IE6-9 */
}

button.btn, button.btn:hover, button.btn:focus, button.btn:active {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 9px;
  color: #ffffff;
  border: none;
  background-color: #000;
  background-image: none;
  text-shadow: none;
  /* font-family: "freight-sans-pro"; */
  font-size: 1.2em;
}

div.cover {
  text-align: center;
  margin: 0 0 10px 20px;
  cursor: pointer;
  vertical-align: top;
}

div.cover .caption {
  padding: 0;
  width: 147px;
  position: absolute;
  bottom: 0px;
}

div.cover.add-book span {
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-shadow: 1px 1px black;
  display: block;
  padding: 20px 10px;
  font-size: 60px;
}

div.cover.add-book:hover span {
  color: #ddd;
}

div.cover h3.title {
  margin: 0 0 4px 0;
  line-height: normal;
  font-size: 1.2em;
  max-height: 58px;
  overflow: hidden;
}

div.cover span {
  display: block;
  font-size: 1.1em;
}

.thumbnail {
  padding: 2px;
  border: 2px solid #fff;
  width: 161px;
  height: 228px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px 0px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: relative;
}

@media (max-width: 1024px) {
  .thumbnail {
    width: 144px;
    height: 205px;
  }
}

@media (max-width: 640px) {
  .thumbnail {
    width: 81px;
    height: 114px;
  }
}

.thumbnail.hilight,
.thumbnail.selected {
  border: 2px solid #AAA;
  -moz-box-shadow: 0 0 10px #88A;
  -webkit-box-shadow: 0 0 10px #88A;
  box-shadow: 0px 0px 10px #88A;
}

.thumbnail.hilight img,
.thumbnail.selected img {
  opacity: 0.7;
}

.music-icon, .epub-icon {
  background: url("../img/sprite-icons.png") 0 -52px;
  width: 90px;
  height: 90px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 15px 0 0 36px;
}

.epub-icon {
  background-position: -4px -395px;
}

p.single-epub {
  font-size: 1.2em;
  text-align: left;
  margin: 10px 20px;
}

/* Scroll to top */
.sticky-wrapper {
  float: right;
  z-index: 1050;
  position: relative;
}

/* Rendered pages */
#rendered-pages {
  position: relative;
}

.page-share {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  position: absolute;
  top: 15px;
  right: 15px;
  min-width: 18px;
  min-height: 18px;
  padding: 15px;
  background: #FFF;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 10px 0px;
}

.pagenumber {
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
  font-size: 1.3em;
  width: 18px;
  height: 18px;
  text-align: center;
  color: #215295;
  line-height: 14px;
}

.share-part {
  display: none;
}

.page-share.open .share-part {
  display: block;
}

.page-share.open .pagenumber {
  visibility: hidden;
}

.page-share.open .pagenumber:after {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "X";
}

@media (max-width: 550px) {
  div.page-share {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    top: 12px;
    right: 12px;
    padding: 5px;
  }
  span.pagenumber {
    top: 6px;
    right: 6px;
  }
}

.single-page {
  position: relative;
  width: 992px;
  margin: 2em auto 0 auto;
}

@media (max-width: 992px) {
  .single-page {
    width: 100%;
  }
}

.single-page img {
  box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 10px 0px;
}

.single-page .empty-page:before {
  box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 10px 0px;
  content: "";
  display: block;
  padding-top: 141%;
  /* initial ratio of 1:1*/
}

.share-part a.download-pdf, .share-part a.download-epub, .share-part a.download-music {
  font-size: 1.2em;
  margin-right: 15px;
}

.share-part a.download-music {
  float: right;
  line-height: 35px;
}

.share-part a.social i {
  font-size: 2em;
}

.share-part h5.url {
  display: block;
}

.share-part h5 {
  margin: 10px 0 1px 0;
}

p.direct-url {
  padding: 6px;
  background-color: #f0f0f0;
  font-size: 1.2em;
}

i.icon-book {
  font-size: 1.3em;
}

#loadmore {
  margin: 20px;
  text-align: center;
  padding: 15px;
  color: #005580;
  cursor: pointer;
}

p.single-lyrics {
  margin: 20px;
  text-align: left;
  font-size: 1.3em;
  line-height: 1.6em;
}

/* Page number and share-popup */
/* Static page */
.static-page h1 {
  margin-bottom: 30px;
}

.static-page {
  font-size: 1.3em;
  line-height: 1.45em;
}

.static-page .span7 {
  padding-top: 40px;
}

/* admin */
.admin#the-container {
  padding: 20px 0 40px 30px;
  font-size: 1.3em;
  line-height: 1.8em;
}

.label {
  font-size: 18px;
  background-color: transparent;
  color: #000000;
  display: block;
  float: left;
  width: 250px;
  font-weight: normal;
  text-shadow: none;
  padding: 0;
}

/* Other */
#the-container {
  padding: 0;
}

#login {
  width: 230px;
  margin: 0 auto;
}

#login h1 {
  text-align: center;
  font-size: 20px;
}

.navbar-fake {
  height: 60px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  -webkit-transition: top 0.2s ease-in-out;
  -moz-transition: top 0.2s ease-in-out;
  -ms-transition: top 0.2s ease-in-out;
  -o-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
}

body.scrolled .navbar {
  top: -60px;
}

body.scrolled.show-navi .navbar {
  top: 0;
}

/* Top header */
#top-header {
  background-color: #fff;
  background-image: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 7px 0px;
  border: none;
  min-height: 0px !important;
}

#sidebar-toggle {
  background: #eee;
  border-radius: 3px;
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  -moz-box-sizing: border-box;
  top: 10px;
  right: -10px;
  padding: 10px 7px;
  float: right;
}

#sidebar-toggle .bar {
  border-radius: 2px;
  display: block;
  width: 26px;
  margin-bottom: 5px;
  height: 3px;
  background-color: #000;
  border-radius: 1px;
}

#mainmenu {
  background: #fff;
  position: fixed;
  width: 240px;
  height: 100%;
  z-index: 1000;
  top: 58px;
  padding-bottom: 58px;
  right: -240px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  line-height: 49px;
  -webkit-transition: right 0.4s ease-in-out, top 0.2s ease-in-out;
  -moz-transition: right 0.4s ease-in-out, top 0.2s ease-in-out;
  -ms-transition: right 0.4s ease-in-out, top 0.2s ease-in-out;
  -o-transition: right 0.4s ease-in-out, top 0.2s ease-in-out;
  transition: right 0.4s ease-in-out, top 0.2s ease-in-out;
}

.open-sidebar #mainmenu {
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.3) -1px 4px 7px 0px;
}

body.scrolled #mainmenu {
  position: fixed;
  top: 0;
  padding-bottom: 0;
}

body.scrolled.show-navi #mainmenu {
  top: 58px;
  padding-bottom: 58px;
}

#mainmenu ul {
  padding: 0;
  margin: 0;
}

#mainmenu li {
  position: relative;
  list-style-type: none;
}

#mainmenu .parent .arrow {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 20px;
  height: 20px;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

#mainmenu .open > a > .arrow {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#mainmenu .parent ul {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-in-out;
  -moz-transition: max-height 0.2s ease-in-out;
  -ms-transition: max-height 0.2s ease-in-out;
  -o-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
}

#mainmenu .parent.open > ul {
  max-height: 500px;
}

#mainmenu .parent ul a {
  padding-left: 20px;
}

#mainmenu .parent ul ul a {
  padding-left: 40px;
}

#mainmenu a:link,
#mainmenu a:visited {
  color: #000;
  font-size: 1.15em;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  padding: 13px 13px;
  display: block;
  text-decoration: none;
}

#mainmenu .selected > a:link {
  font-weight: bold;
}

#mainmenu a:hover {
  background: #eee;
}

#top-header .container-fluid {
  position: relative;
  padding: 5px;
}

#top-header .brand {
  z-index: 1050;
  background: url("../img/sprite-icons.png") 0px 5px no-repeat;
  height: 49px;
  padding: 0;
  display: inline-block;
  padding: 0 0 0 62px;
  line-height: 49px;
  font-size: 25px;
  color: black;
  margin: 0 5px 0 0;
  text-shadow: none;
}

#scroll-to-top {
  position: absolute;
  top: 7px;
  right: 20px;
  z-index: 1050;
}

.audiojs {
  width: 410px;
  height: 36px;
  overflow: hidden;
  font-family: monospace;
  font-size: 12px;
}

@media (max-width: 500px) {
  .audiojs {
    width: 230px;
  }
  .audiojs .scrubber {
    width: 115px;
  }
}

.audiojs .audiojs .time {
  font-size: 80%;
}

.audiojs audio {
  position: absolute;
  left: -1px;
}

.audiojs .play-pause {
  width: 20px;
  height: 40px;
  padding: 4px 0px;
  margin: 0px;
  float: left;
  overflow: hidden;
}

.audiojs p {
  display: none;
  width: 16px;
  height: 40px;
  margin: 0px;
  cursor: pointer;
}

.audiojs .play {
  display: block;
}

.audiojs .scrubber {
  position: relative;
  float: left;
  width: 280px;
  background: #d0d0d0;
  height: 14px;
  margin: 10px 0;
  border-left: 0px;
  border-bottom: 0px;
  overflow: hidden;
}

.audiojs .progress {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 14px;
  width: 0px;
  background: #215295;
  z-index: 1;
  border-radius: 0;
}

.audiojs .loaded {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 14px;
  width: 0px;
  background: #f0f0f0;
}

.audiojs .time {
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0px 0px 0px 6px;
  padding: 0px 3px 0px 6px;
}

.audiojs .time em {
  padding: 0px 2px 0px 0px;
  font-style: normal;
}

.audiojs .time strong {
  padding: 0px 0px 0px 2px;
  font-weight: normal;
}

.audiojs .error-message {
  float: left;
  display: none;
  margin: 0px 10px;
  height: 36px;
  width: 400px;
  overflow: hidden;
  line-height: 36px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.audiojs .error-message a {
  color: #eee;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #999;
  white-space: wrap;
}

.audiojs .play {
  background: url("../audiojs/player-graphics.gif") -8px -1px no-repeat;
}

.audiojs .loading {
  background: url("../audiojs/player-graphics.gif") -8px -31px no-repeat;
}

.audiojs .error {
  background: url("../audiojs/player-graphics.gif") -8px -61px no-repeat;
}

.audiojs .pause {
  background: url("../audiojs/player-graphics.gif") -8px -91px no-repeat;
}

.playing .play, .playing .loading, .playing .error {
  display: none;
}

.playing .pause {
  display: block;
}

.loading .play, .loading .pause, .loading .error {
  display: none;
}

.loading .loading {
  display: block;
}

.error .time, .error .play, .error .pause, .error .scrubber, .error .loading {
  display: none;
}

.error .error {
  display: block;
}

.error .play-pause p {
  cursor: auto;
}

.error .error-message {
  display: block;
}

/*# sourceMappingURL=esamizdat.css.map */