[Unit]
Description=pageshare

[Service]
ExecStart=/usr/bin/php /var/www/html/worker/manager.php
Type=simple
User=root
Group=root

[Install]
WantedBy=multi-user.target


